body {
  /*background-color: #405f82;*/
  background: linear-gradient( #405f82, black);
  text-align: center;
  font-size: 34px;
  font-family: Orbitron, sans-serif;
  margin: 0;
}

h1 {
  margin-top: 170px;
  margin-bottom: 60px;
  margin-left: 70px;
  font-size: 130px;
  color: white;
  text-shadow: 4px 4px #000;
}

#mainImage {
  margin-left: 60px;
  margin-top: 30px;
}

.container1 {
  height: 1700px;
}

button {
  font-family: Orbitron, sans-serif;
  background-color: #dcdcdc;
  border: 3px solid #dcdcdc;
  border-radius: 5px;
  font-size: 28px;
  width: 280px;
  height: 70px;
  margin: 70px 50px 200px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.instructions {
  background-color: lightgrey;
  border: 2px solid black;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: -40px;
  margin-top: 30px;
}

h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.instructions img {
  height: 100px;
  width: 100px;
}


p {
  font-size: 24px;
  font-family: Arial, sans-serif;
}

p .codeImg {
  height: 65px;
  width: 65px;
}

#arrows {
  height: 50px;
  margin-bottom: -10px;
}

.container2 {
  position: relative;
  font-family: Orbitron, sans-serif;
  background-image: url('../images/codewall.jpg');
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100%;
  margin-left: -8px;;
  padding-top: 150px;
}

button {
  background-color: rgba(211, 211,211,0.5);
  color: black;
  height: 70px;
  width: 300px;
  border: 2px solid black;
  text-shadow: 1px 1px white;
}

button#startBtn {
  margin-top: 240px;
  background-color: rgba(0,0,0,0);
  color: black;
  font-size:40px;
  font-weight: 400;
  height: 70px;
  width: auto;
  padding: 5px 60px 0px;
  border: 3px solid black;
  text-shadow: 2px 2px white;
}

button:hover {
  color: white;
  border: 2px solid black;
  background-color: #3677CF;
  text-shadow: 2px 2px black;
  cursor: pointer;
}

button#startBtn:hover {
  color: white;
  border: 2px solid black;
  background-color: #3677CF;
  text-shadow: 2px 2px black;
  cursor: pointer;
}

.timer {
  align-items: center;
  float: left;
  font-family: Orbitron, sans-serif;
  width: 200px;
  height: 100px;
  background-color: rgba(230,0,0,0.2);
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  font-size: 60px;
  padding-top: 50px;
  margin-left: 30px;
}

.score-board {
  align-items: center;
  font-family: Orbitron, sans-serif;
  color: white;
  float: right;
  width: 220px;
  height: 100px;
  background-color: rgba(0,0,0,0.4);
  border: solid 5px white;
  border-radius: 10px;
  margin-top: 0px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 48px;
}

span {
  font-size: 48px;
}


div.codewall {
  width: 900px;
  height: 600px;
  background-color: rgba(255,255,255,0.8);
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

#coder {
  position: absolute;
  bottom: -300px;
  height: 150px;
  width: 150px;
  left: 400px;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
}

#coder img {
  height: 150px;
  width: 150px;
}

.shaking {
  animation: shake 0.3s 10;
}

.column {
  position: absolute;
  top: 0;
  left: 5px;
  width: 80px;
  height: 80px;
  text-align: center;
  z-index: 0;
}

.column:nth-child(2) { left: 95px; }
.column:nth-child(3) { left: 185px; }
.column:nth-child(4) { left: 275px; }
.column:nth-child(5) { left: 365px; }
.column:nth-child(6) { left: 455px; }
.column:nth-child(7) { left: 545px; }
.column:nth-child(8) { left: 635px; }
.column:nth-child(9) { left: 725px; }
.column:nth-child(10) { left: 815px; }

.column img {
  width: 70px;
  height: 70px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}
